/*Universal*/
body {
    color: #292929;
    margin: 0;
    font-size: 24px;
}


/*Navigation Bar*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 14%;
    border-bottom: 1px black solid;
}

nav .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 12px;
    margin: 0 48px;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px 0;
}

.nav-left img {
    width: auto;
    height: 122px;
}

.nav-right {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.nav-right a {
    text-decoration: none;
    color: #292929;
}


/*Main Content*/
main {
    display: flex;
    flex-direction: column;
    width: 100% ;
    margin: 36px 0;
}

main .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.card-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.homepage-card {
    height: 385px;
    width: auto;
    margin: 12px;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 64px;
    border-top: 1px black solid;
}

footer .wrapper {
    margin: 0 48px;
}